<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <script src="https://kit.fontawesome.com/194f4bae1e.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/jpg" href="images/favicon.jpg"/>
    <link rel="stylesheet" href="https://use.typekit.net/hap0koo.css">
    <title>Daily Quote</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="main-header">Welcome to</h1>
        <h1 class="daily">Daily Quote</h1>
      </div>
        <div class="form-settings">
          <form id="main-form" class="form" action="/login" method="get" style="padding-top:0px; padding-bottom:0px;">
            <input id="login-btn" type="submit" name="login" value="Login" >
          </form>
        </div>
        <div class="form-settings">
          <form id="main-form" class="form" action="/signup" method="get" style="padding-top:0px; padding-bottom:0px;">
            <input id="signup-btn" type="submit" name="sign" value="Sign Up">
          </form>
        </div>
        <div class="signature-line">
          <h3 class="signature"> By Vishaun Jones</h3>
        </div>
    </div>

  </body>
</html>
